<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Attendance Tracker</title>
  <style>
    body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 5%;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  margin: 10px 5px;
  color: #555;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

#studentList label {
  margin-bottom: 10px;
}

#studentList input {
  margin-right: 10px;
}


fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

/* Add more styles as needed */

  </style>
</head>

<body>
  <%   function capitalizeWords(str) { %>
  <%   let words = str.split(' '); %>
  <%   let capitalizedWords = words.map(word => { %>
  <%     return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase(); %>
  <%   }); %>
  <%   return capitalizedWords.join(' '); %>
  <% } %>
  <%  %>
  <h1>Student Attendance Tracker</h1>

    <button id="absent-all">Make all Absent</button>
    <button id="present-all">Make all Present</button>
    <br /><br>
  <form id="attendanceForm" action="/add" method="POST">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required />

    <input type="radio" id="working" name="college" value="Working" required>
    <label for="working">Working</label><br>
    <input type="radio" id="holiday" name="college" value="Holiday" required>
    <label for="holiday">Holiday</label>
    <!-- Display student list dynamically -->
    <fieldset>
      <legend>Student List</legend>
      <div id="studentList">
        <% students.forEach(student => { %>
          <input type="checkbox" name="student" value="<%= student['roll-number'] %>" id="<%= student['roll-number'] %>" />
          <label for="<%= student['roll-number'] %>"><%= student['roll-number'].slice(-2) %> <%= capitalizeWords(student.name) %></label>
          <br />
        <% }) %>
      </div>
    </fieldset>

    <br />
    <button type="submit">Submit</button>
  </form>
  <script>
        window.onload = function () {
        // Get all checkboxes with the name "students"
        var checkboxes = document.querySelectorAll('input[name="student"]');

        // Loop through each checkbox and set the "checked" attribute to true
        function checkAll() {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = true;
            });
        }
        checkAll();
        function checkOffAll() {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });
        }
        var radioBtn = document.getElementById('holiday');
      radioBtn.addEventListener('change', function () {
          if (radioBtn.checked) {
            checkOffAll();
          }
      });
        // Add a click event listener to the button
        document.getElementById('present-all').addEventListener('click', checkAll);
        document.getElementById('absent-all').addEventListener('click', checkOffAll);


    };
  </script>
  
</body>

</html>