<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <%- include('components/header') %> <%- include('components/nav') %>

    <main>
      <% if (student == true) { %>
        <%- include('components/student-info', { data: info }) %>
        <% } else {  %>
          <h4>Hello <%= username %>,</h4>
          <% }  %>
      <section class="title">
        <% if (typeof username !== 'undefined') { %>
         
        <%- include('components/schedule') %>
        <% } else { %>
        <h1>ATTEND-ME</h1>
        <h5>daily attendance assitance and record traker</h5>
        <a href="/login">Sign in</a>
        <% } %>
      </section>
    </main>
    <%- include('components/footer') %>
    <script type="module" src="js/schedule.js"></script>
  </body>
</html>
