<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <%- include('components/header') %> <%- include('components/nav') %>
    <% if (typeof username !== 'undefined') { %>
      <%- include('components/students-info') %>
    <% } else { %>
      <%- include('components/access-denied') %>
    <% } %>

    <%- include('components/footer') %>
    <script type="module" src="js/students-info.js"></script>
    <script type="module" src="js/svg.js"></script>
  </body>
</html>
